git commit -m "Nurgul"
<html>
<head>
    <style>

        body{
            padding: 15px;
        }
        .main{

        }
        .n1{
            border: 1px solid antiquewhite;
            background-color: antiquewhite;
            margin-right: 50px;
            padding: 15px;
            padding-bottom: 120px;
        }
        .manu{
            font-size: 25px;
            padding: 20px;
        }
        .ma1{
            border: 2px solid white;
            width: 150px;
            height: 120px;
            background-color: white;
        }
        .n3{
            text-align: center;
        }

        .n7{
            background-color: orange;
            padding-bottom: 380px;
            padding-left: 15px;
            padding-top: 15px;
            color: white;
        }
        .use{
            border: 1px solid orange;
            margin-left: 80px;
            float: left;
        }
    </style>
